<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatterBuddy</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/css/the-header.css}" href="../static/css/the-header.css"/>
    <link rel="stylesheet" th:href="@{/css/default.css}" href="../static/css/default.css"/>

    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}" src="../static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"
            src="../static/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" th:src="@{/js/vue-2.6.14.js}" src="../static/js/vue-2.6.14.js"></script>

    <style>
        .fade-in {
            opacity: 0;
            position: relative;
            top: 20px;
            animation: fadeInAnimation 3s infinite;
        }

        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
                top: 20px;
            }
            50% {
                opacity: 1;
                top: 0;
            }
            100% {
                opacity: 0;
                top: -20px;
            }
        }
    </style>


    <title>Chatter Buddy Management</title>
</head>
<body>
<!-- 匯入 Header -->
<div th:replace="header :: header"></div>

<div class="container content-container" id="app">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1>{{ title }}</h1>
                </div>
                <div class="card-body">
                    <div v-for="(paragraph, index) in paragraphs" :key="index" class="fade-in">
                        <p>{{ paragraph }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            title: 'ChatterBuddy',
            paragraphs: [
                '「ChatterBuddy」是一個可靠的聊天輔助工具，旨在協助您克服尷尬和沉默的局面，並使您的對話更加流暢和自信。透過「ChatterBuddy」，您將能夠輕鬆地展開對話，無論是在社交場合、商業會議還是與陌生人的交流中。',
                '我們的產品致力於提供實用的話題和問題，以解決您可能遇到的交談困境。無論是在新交往的場合還是與職場同事的互動中，「ChatterBuddy」將成為您的可靠助手，為您提供恰當且引人入勝的話題，讓您輕鬆掌握對話的節奏。',
                '「ChatterBuddy」的智能算法將根據您的需求和情境，提供個性化的聊天建議。您可以期待我們的工具為您帶來多種話題選擇，以及適時的問題引導，幫助您引發有趣和深入的對話。',
                '我們致力於提供優質的使用者體驗，確保「ChatterBuddy」的操作簡便且直觀。無論您是一位社交新手還是一位商業專業人士，我們相信「ChatterBuddy」將成為您的得力助手，提升您的對話技巧，建立更加有意義和互動的溝通環境。',
                '開始使用「ChatterBuddy」，讓我們的工具為您帶來自信、流暢且引人注目的對話體驗！'
            ]
        }
    });
</script>
<!--
<div class="container" style="max-width: 600px;margin-top: 50px">
    <div class="card">
        <div class="card-header">
            <h1 class="card-header">Welcome</h1>
            <p th:text="${session.user.username}"></p>
            <a href="#" th:href="@{/book/1}">book1</a>
        </div>
        <a href="#" th:href="@{/logout}" class="btn btn-warning">logout</a>
    </div>
</div>
-->
</body>
</html>