<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatterBuddy</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" href="../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/css/the-header.css}" href="../static/css/the-header.css"/>
    <link rel="stylesheet" th:href="@{/css/default.css}" href="../static/css/default.css"/>

    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}" src="../static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"
            src="../static/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" th:src="@{/js/vue-2.6.14.js}" src="../static/js/vue-2.6.14.js"></script>

</head>
<body>
<!-- 匯入 Header -->
<div th:replace="header :: header"></div>


</body>
</html>