body {
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, #00263b, #005b96, #00a8e8);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.content-container {
    margin-top: 100px;
    margin-bottom: 50px;
}

.card {
    border-radius: 20px;
}